.config/mpv/watch_later
.config/mpd/database
.config/vim/viminfo
.config/vim/.netrwhist
.config/vim/pack/
.config/zathura/zathurarc.bak
.config/ncmpcpp/error.log
.config/tmux/plugins/*
.config/zsh/.zcompdump
